/* Partial duplicate for pre JS page load */

body {
	background-color: #64B5F6;

	animation: colorchange 25s infinite alternate; /* animation-name followed by duration in seconds*/
 		/* you could also use milliseconds (ms) or something like 2.5s */
    -webkit-animation: colorchange 25s infinite alternate; /* Chrome and Safari */
}

@keyframes colorchange {
	0%   {background-color: #64B5F6;}
	20%  {background-color: #dad2ff;}
	40%  {background-color: #ffd2e1;}
	60%  {background-color: #aadd77;}
	80%  {background-color: #fdfd96;}
	100% {background-color: #64B5F6;}
}

@-webkit-keyframes colorchange { /* Safari and Chrome - necessary duplicate */
	0%   {background-color: #64B5F6;}
	20%  {background-color: #dad2ff;}
	40%  {background-color: #ffd2e1;}
	60%  {background-color: #aadd77;}
	80%  {background-color: #fdfd96;}
	100% {background-color: #64B5F6;}
}

.block {
  margin: auto;
	margin-top: 5em;
	min-width: 50em;
	max-width: 75em;
	width: 50%;
	height: auto;
	border-radius: 50px 50px 0px 0px;
	border: lightgrey solid 2px;
}

.bg-block {
	background-color: white;
	opacity: 1;
}

.text-block {
	padding: 2em;
}

.section {
	padding: 4em;
}

/* tooltip */
.tooltip {
	/* position: relative; */
  display: inline-block;
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover {
  visibility: visible;
  opacity: 1;
}