/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
	font-family: 'Arimo', sans-serif;
	/*font-family: 'Comfortaa', cursive;*/
	/*font-family: 'Poiret One', cursive;*/
	background-color: #64B5F6;

	animation: colorchange 30s infinite alternate; /* animation-name followed by duration in seconds*/
 		/* you could also use milliseconds (ms) or something like 2.5s */
    -webkit-animation: colorchange 30s infinite alternate; /* Chrome and Safari */
}

@keyframes colorchange {
	0%   {background-color: #64B5F6;}
	20%  {background-color: #dad2ff;}
	40%  {background-color: #ffd2e1;}
	60%  {background-color: #aadd77;}
	80%  {background-color: #fdfd96;}
	100% {background-color: #64B5F6;}
}

@-webkit-keyframes colorchange { /* Safari and Chrome - necessary duplicate */
	0%   {background-color: #64B5F6;}
	20%  {background-color: #dad2ff;}
	40%  {background-color: #ffd2e1;}
	60%  {background-color: #aadd77;}
	80%  {background-color: #fdfd96;}
	100% {background-color: #64B5F6;}
}

.block {
  margin: auto;
	margin-top: 5em;
	min-width: 50em;
	max-width: 75em;
	width: 80%;
	height: auto;
	border-radius: 50px 50px 0px 0px;
}

.bg-block {
	background-color: white;
	opacity: 1;
}

.text-block {
	padding: 4em;
}

.section {
	padding: 3em 0em;
}

.mid-title {
	align-content: center;
	vertical-align: middle;
	text-align: center;
}

.social-icons {
	align-content: center;
	vertical-align: middle;
	text-align: center;
}

.flag-icon {
	vertical-align: text-top;
}

h1, h2, h3, h4, h5 {
	/* font-family: 'Comfortaa', cursive; */
  /* font-family: 'Noto Serif', serif; */
  font-family: 'Quicksand', sans-serif;
}

p {
	/* font-family: 'Prociono', serif; */
  /* font-family: 'Roboto Slab', serif; */
  font-family: 'Noto Serif', serif;
  /* font-family: 'Quicksand', sans-serif; */
}

i {
	padding-left: 10px;
	padding-right: 10px;
}

a.icon { 
	color: inherit; 
} 

a.icon:hover{
	color: rosybrown; 
	background-color: #ffffff;
	text-decoration: none;
	cursor:pointer;  
}

a {
	color: rgb(0, 185, 185);
}

a:hover {
	color: rosybrown;
	text-decoration: none;
	background-color: lightgoldenrodyellow;
	cursor:pointer;  
}

img.profile-img {
  border-radius: 50%;
  width: 300px;
  display: inline-block;
  margin: 0em 3em 3em 0em;
}

div.profile-img {
  text-align: center; 
  float: left;
}

@media screen and (max-width: 1250px) {
  div.profile-img {
    float: none;
  }

  img.profile-img {
    border-radius: 50%;
    width: 75%;
    display: inline-block;
    margin: 0em 0em 2em 0em;
  }
}

.text-header {
  padding: 1em 0em;
}

.summary-text {
  text-align: left;
}

#summary {
	text-align: center;
}

div.span {
	height: 5em;
}

#projects {
	text-align: center;
}

